.elements__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  background-size: cover;
  background-image: url(../../../images/Like.svg);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  align-self: center;
  transition: 0.7s;
}

.elements__button:hover {
  opacity: 0.5;
}

.elements__button_active {
  background-image: url(../../../images/Union.svg);
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  background-size: cover;
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  align-self: center;
}