body {
  background: #000;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-change/profile__avatar-change.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__figcaption/elements__figcaption.css);
@import url(./blocks/elements/__button/elements__button.css);
@import url(./blocks/elements/__delete-btn.css);
@import url(./blocks/elements/__delete-btn_visible.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/form/form.css);
@import url(./blocks/popup/__savebutton/popup__savebutton.css);
@import url(./blocks/popup/__savebutton/popup__savebutton_disabled.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-element/popup__input-element.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__picturre/popup__picture.css);
@import url(./blocks/popup/__zoom-container/popup__zoom-container.css);
@import url(./blocks/popup/__picture-title/popup__picture-title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/elements/__counter-likes/elements__counter-likes.css);
@import url(./blocks/elements/__likes-info/elements__likes-info.css);
@import url(./blocks/popup/__title/_size_s/popup__title_size_s.css);
@import url(./blocks/popup/__text/_avatar/popup__text_avatar.css);
@import url(./blocks/popup/__savebutton/_avatar/popup__savebutton_avatar.css);
@import url(./blocks/popup/__avatar-link/popup__avatar-link.css);
@import url(./blocks/popup/__text/_confirm/popup__text_confirm.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);
@import url(./blocks/header/__text/header__text.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__btn/login__btn.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__link/login__link.css);
@import url(./blocks/login/__text/login__text.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__status/popup__status.css);
@import url(./blocks/popup/__message/popup__message.css);