.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .header {
    max-width: 768px;
  }

}