.popup {
  visibility: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.5);
  transition: visibility 0.3s, opacity 0.3s linear;
}